@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
	--font-body: 'Inter', sans-serif;
	--font-serif: 'Inter', sans-serif;
	--style-radius-s: 10px;
	--style-radius-m: 16px;
	--style-radius-l: 20px;
}
